*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#ecf0f1;
}

.wrapper{
  display:flex;
  width:100%;
  min-height:100vh;
}

/* SIDEBAR */

.sidebar{
  width:240px;
  background:#2c3e50;
  color:#fff;
  padding:20px 15px;
  position:fixed;
  height:100%;
  overflow:auto;
}

.sidebar h2{
  margin-bottom:30px;
  font-size:20px;
  text-align:center;
}

.sidebar ul{
  list-style:none;
  padding:0;
}

.sidebar ul li{
  margin-bottom:10px;
}

.sidebar ul li a{
  display:block;
  padding:12px 15px;
  border-radius:8px;
  color:#fff;
  text-decoration:none;
  transition:0.3s;
  font-size:17px;
}

.sidebar ul li a:hover{
  background:#1abc9c;
}

.sidebar ul li a.active{
  background:#0d6efd;
  font-weight:bold;
}

/* CONTENT */

.content{
  margin-left:240px;
  width:100%;
  padding:20px;
}

.top-card{
  background:#fff;
  border-radius:20px;
  padding:40px;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.top-card h1{
  text-align:center;
  margin-bottom:10px;
  font-size:45px;
}

.top-card p{
  text-align:center;
  color:#555;
  margin-bottom:40px;
  font-size:18px;
}

/* MENU */

.menu-grid{
  display:grid;
  grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

  gap:25px;
}

.menu-card{
  padding:35px 20px;
  border-radius:15px;
  color:#fff;
  text-align:center;
  font-size:28px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

.menu-card:hover{
  transform:translateY(-5px);
}

.bg-blue{
  background:#0d6efd;
}

.bg-green{
  background:#198754;
}

.bg-dark{
  background:#212529;
}

/* MOBILE */

@media(max-width:768px){

  .sidebar{
    width:100%;
    height:auto;
    position:relative;
  }

  .content{
    margin-left:0;
  }

  .top-card h1{
    font-size:28px;
  }

  .menu-card{
    font-size:22px;
  }

}
